body, h1, h2, h3, h5, p, span{
    font-family: 'Work Sans', sans-serif;
}
img{
    max-width: 100%;
}

/* header section */
.john-header a.navbar-brand{
    font-size: 25px;
    font-weight: 500;
}
.john-header span{
    display: inline-block;
    color: white;
    background-color: #6278df;
    width: 45px;
    height: 45px;
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
}
.navbar-nav li{
    font-size: 19px;
}

/* slider-section */

.slider-section{
    background: url(images/mbr-10.jpg) no-repeat center;
    padding: 160px 0px;
    position: relative;
    z-index: 1;
}
.slider-section::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    z-index: -1;
}
.slider-section h4{
    font-size: 25px;
}
.slider-section h2{
    padding-top: 30px;
    font-size: 40px;
    padding-bottom: 30px;
}
.slider-section button{
    font-size: 25px;
    font-weight: 600;
}
.slider-section input{
    padding: 12px;
}

/* about-section */
.about-section{
    background: #f7f9ff;
}
.about-text-left{
    padding-top: 110px;
}
.about-text-left .lead{
    font-size: 22px;
    line-height: 2rem;
}

/* feature-section */
.feature-section{}
.feature-items{
    height: 300px;
    box-shadow: 2.5px 4.33px 30px 0 rgb(64 87 191 / 10%)
}

.feature-image{
    width: 40%;
    overflow: hidden;
    border-radius: 5px 0px 0px 5px;
}
.feature-image img{
    height: 100%;
    width: auto !important;
    max-width: inherit;
    position: relative;
    left: -100px;
}
.features-content{
    width: 60%;
    padding: 25px;
}

/* portfolio-section */
.portfolio-section{}
.portfolio-items a{
    position: relative;
    display: block;

}
.portfolio-items a::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(63, 119, 231, 0.6);
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}
.portfolio-items:hover a::after{
    opacity: 1;
    visibility: visible;
}

/* pricing-table-section */
.pricing-table-section{
    background: #f7f9ff;
}

.pricing-table-heading{}
.pricing-table-heading h1{
    font-size: 45px;
}
.pricing-table-heading p{
    font-size: 25px;
    font-size: 25px;
    margin-bottom: 50px;
}

.pricing-table-item{
    background: white;
    padding: 50px;
    margin-right: 50px;
    border-radius: 10px;
    box-shadow: 2.5px 4.33px 30px 0 rgb(64 87 191 / 10%)
}

.pricing-table-item h2{
    font-size: 37px;
}
.pricing-table-item h5{
    font-size: 22px;
    font-weight: 300;
}

.pricing-table-item ul{
    list-style: none;
    padding-left: 0;
    padding-left: 0;
    margin-bottom: 60px;
}
.pricing-table-item li{
    color: #777;
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
    line-height: 3rem;
}
.pricing-table-item span{
    font-size: 22px;
    color: #6278df;
    font-weight: bold;
    display: inline-block;
    width: 30px;
    
}

.pricing-item-button a button{
    color: #6278df;
    font-size: 22px;
    font-weight: 600;
    padding: 10px 20px;
    border: 1px solid #6278df;
    box-shadow: 2.5px 4.33px 30px 0 rgb(64 87 191 / 20%)
}
